body {
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100vh;
 margin: 0;
 background-color: #ffffff; 
}

.switch-container {
 position: relative;
}


button {
 padding: 10px 20px;
 font-size: 16px;
 cursor: pointer;
 background-color: #3498db;
 color: #ffffff;
 border: none;
 border-radius: 5px;
}


body.switch-on {
 background-color: #000000;
 transition: background-color 0.5s ease;
 transform: ;
}